
$vermelho-claro: #eb1940;
$vermelho-escuro: #9e001d;
$preto: #222;
$preto-bg: #1e1e22;
$cinza-escuro: #444;
$cinza-medio: #777;

@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/Gotham-Black.eot');
    src: url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Black.woff2') format('woff2'),
        url('../fonts/Gotham-Black.woff') format('woff'),
        url('../fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff'),
        url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html, body{height: 100%;}

body{
    font-family: 'PT Sans', sans-serif;
    background: #fefefe;
}

h1, h2, h3, h4, h5{
    font-weight: bold;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
}

@media(min-width:1200px){
  .container{
    width: 1280px;
  }
}

img.img-responsive{margin: auto;}

p{
    font-size: 17px;
    color: $preto;
}

.section.extras{
    float: left;
    width: 100%;
}

/* forms */
.form-text{
  padding: 20px;
  font-size: 16px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  background: #fff;
}

.form-textarea{
  padding: 20px;
  font-size: 16px;
  border-radius: 0;
  background: #fff;
  border: 1px solid #dfdfdf;
}

button,
button.btn,
a.btn,
button.btn-primary,
form input[type="submit"]{
    color: #ffffff;
    background-color: $vermelho-claro;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    font-size: 16px;
    line-height: 1.42857143;
    padding: 10px 44px 6px 44px;
    border-width: 0 1px 4px 1px;
    text-transform: uppercase;
    transition: all .3s;
    font-weight: 400;
    border-radius: 0;

    span{margin-right: 7px;}
}

button:hover,
button.btn:hover,
a.btn:hover,
button:active,
button:active,
button:focus,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
form input,
form input[type="submit"]:hover{
    background: #000;
    border-color: #000;
    color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none !important;
    outline: 0;
    border-radius: 0;
}


.dark-bg{
   button:hover,
    button.btn:hover,
    a.btn:hover,
    button:active,
    button:active,
    button:focus,
    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    form input[type="submit"]:hover{
        background: #fff;
        color: #000;
        border-radius: 0;
    }
}



/*--- TOPO -----------------------------------------------------------------------*/

header{
  float: left;
  min-height: 130px;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-family: 'Gotham Book';

  .logo{
    width: 260px;
    height: 105px;
    float: left;
    transition: all .3s;
    float: left;
  }
  .container-menus{
    position: absolute;
    left: 250px;
    width: calc(100% - 200px);
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    height: 120px;
    background: $preto-bg;
    padding: 0;
  }
  .main-menu, .sub-menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    display: block;
  }

  /*--- MENU PRINCIPAL ---*/
  .main-menu{
    margin: 10px 0 10px -17px;
    background: #fff;
    height: 46px;
    background: #f9f9f9;

    .menu-item {
      float: left;
      padding: 0;
      transition: all .3s;
      text-transform: uppercase;
      font-size: 13px;
      &:last-child {
          margin-right: -1px
      }
      &.active{
        background: $vermelho-claro;
      }
      &:hover{
        background: $cinza-escuro;
      }
      a{
        padding: 15px 25px 13px 25px;
        color: #222;
        letter-spacing: 1px;
        font-family: 'Gotham Medium';
        text-decoration: none;
        -webkit-transform: skew(25deg);
        -moz-transform: skew(25deg);
        -o-transform: skew(25deg);
        display: inline-block;
      }
    }
    .menu-item:hover a{
      color: #fff;
      }
    .menu-item.active a{
        color: #fff;
    }

    &::after {
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #999;
        transform: rotate(-45deg);
        top: 48px;
        position: absolute;
        left: -10px;
    }
  }

/*--- BUSCA ---*/
#block-custom-search-blocks-1{
  width: 130px;
  position: absolute;
  right: 100px;
  top: 20px;
  border-bottom: 1px solid #f5f5f5;
  -webkit-transform: skew(25deg);
  -moz-transform: skew(25deg);
  -o-transform: skew(25deg);

  .form-item{
    width: calc(100% - 15px);
    float: left;
    margin: 0;
    input{
      background: transparent;
      border: none;
      padding: 0;
      font-size: 14px;
      color: #fff;

      &::-webkit-input-placeholder{letter-spacing: 1px; font-size: 12px; color: #fff;}
      &::-moz-placeholder{letter-spacing: 1px; font-size: 12px; color: #fff;}
      &:-ms-input-placeholder{letter-spacing: 1px; font-size: 12px; color: #fff;}
      &:-moz-placeholder{letter-spacing: 1px; font-size: 12px; color: #fff;}

    }
  }
  .form-actions{
    clear: none;
    width: 15px;
    float: left;
    padding-top: 7px;
  }
}

/*--- REDES SOCIAIS ---*/
.redes-sociais{
    position: absolute;
    right: 260px;
    top: 20px;
    -webkit-transform: skew(25deg);
    -moz-transform: skew(25deg);
    -o-transform: skew(25deg);

    a{
      font-size: 21px;
      color: #fff;
      margin-left: 20px;
      transition: all .3s;

      &:hover{
        color: $vermelho-claro;
      }
    }
}

  /*--- MENU SECUNDARIO ---*/

#block-menu-menu-noticias{
  float: left;
  width: 100%;
}

  .menu.nav {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 0 0 2%;
    width: calc(100% - 30px);
    letter-spacing: 1px;
    font-size: 13px;
    text-transform: uppercase;
    border-top: 3px solid #f50136;

    li {
      float: left;
      margin-right: 1%;
      -webkit-transform: skew(25deg);
      -moz-transform: skew(25deg);
      -o-transform: skew(25deg);
      border-bottom: 2px solid #fff;
      transition: all .3s;

      &:hover,
      &.active{
          border-bottom: 2px solid $vermelho-claro;
      }

      a{
        color: #fff;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        padding: 18px 5px 21px 25px;

        &:hover,
        &:active,
        &:link,
        &:visited{
          background: transparent;
        }

        i{
          color: #555;
          font-size: 16px;
          position: absolute;
          left: 1px;
          top: 18px;
        }
      }

      &.active i{
        color: $vermelho-claro;
      }
      &:hover i{
        color: #fff;
      }

    }
  }

  #menu-artistas{
    display: none;
    padding: 0;
    li {
      float: left;
      margin-right: 1%;
      padding-left: 25px;
      padding-right: 7px;
      border-bottom: 2px solid $vermelho-claro;
      -webkit-transform: skew(0deg);
      -moz-transform: skew(0deg);
      -o-transform: skew(0deg);

      &:hover{background: $vermelho-claro;}
      a{
        color: #fff;
        padding-top: 18px;
        padding-bottom: 20px;
        -webkit-transform: skew(25deg);
        -moz-transform: skew(25deg);
        -o-transform: skew(25deg);

        i{color: #fff;}
      }
    }
  }



  /* MOBILE */
  @media(max-width:959px){
    .sub-menu{display:none;}
  }
  @media(max-width:767px){
    .main-menu{display:none;}
  }

}

/*--- CONTEUDO ---------------------------------------------------------------------------------------------------*/

#principal{
  width: 100%;
  float: left;
}

#principal h1{
    font-size: 52px;
    letter-spacing: -2px;

    @media(max-width: 767px){
      font-size: 32px;
      margin: 25px 0;
    }
}

#principal h3{
    letter-spacing: -1px;
    border-left: 5px solid $vermelho-claro;
    padding: 10px 0 10px 15px;
}

#principal h4{
    font-family: georgia;
    font-weight: 300;
    font-size: 24px;
    font-style: italic;
    color: #555;
    line-height: 34px;
    margin-bottom: 25px;
}

#principal p,
#principal ul,
#principal ol{
    //font-family: 'Droid Serif', serif;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    line-height: 32px;
    margin-bottom: 24px;
    color: #525252;
    font-weight: 400;
}

#principal a{
  color: $vermelho-claro;
}

#principal p.rtecenter{text-align: center !important;}

#principal p strong{font-weight: 700 !important;}


#principal blockquote{
    background: #f5f5f5;
    width: 100%;
    margin: 50px 0;
    padding: 50px 15%;

    @media(max-width: 767px){
      blockquote{padding: 5%;}
    }

    p{
        font-size: 18px;
        font-style: italic;
        margin-top: 20px;
        color: #777;
        font-family: Georgia, serif;
    }
}

/*
.player {
    position: relative;
    padding-bottom: 56.25% !important;
    padding-top: 25px  !important;
    height: 0  !important;
}
.player iframe {
    position: absolute  !important;
    top: 0  !important;
    left: 0  !important;
    width: 100%  !important;
    height: 100%  !important;
}*/

/* paginacao */
.pagination{
    width: 100%;
    float: left;
    text-align: center;

    li{
        display: inline-block;

         a{
            color: #666;
            text-decoration: none !important;
            &:hover{
                background: $preto !important;
                color: #fff !important;
            }
        }
    }
    .active span{
        background-color: $vermelho-claro;
        border-color: $vermelho-claro;
    }
}



/* MODAL */
.modal{
    .modal-header{
        text-align: center;
        color: #fff;
        background: $preto-bg;
        border-bottom: 2px solid $vermelho-claro;
        padding: 25px 0 15px 0;

        h2{
          font-size: 26px;
        }
    }
    label{
      color: #999;
      margin-left: 22px;
      font-weight: normal;
      font-size: 16px;
    }
    .webform-confirmation{
      padding: 50px 80px;
      text-align: center;
      a{
        color: $vermelho-claro;
      }
    }
    .links{display: none;}
}


/*--- HOME -------------------------------------------------------------------------------------------------------*/

.front header #block-menu-menu-noticias .menu.nav li{
  border-bottom: 2px solid $preto-bg;

  &:hover{
      border-bottom: 2px solid $vermelho-claro;
  }
}

.front #principal{
    margin-top: -10px;

    /* DESTAQUES */
    .destaques{
        min-height: 450px;
        padding: 50px 0;
        background: $preto-bg;

        .destaque{
            padding: 0 0 0 10px;
            text-align: left;

            @media(max-width: 767px){
              position: relative;
              margin-bottom: 20px;
            }

            .chamada{
              @media(max-width: 767px){
                margin-top: -10px;
                text-align: center;
              }
            }

            .assunto a{
                display: inline-block;
                color: #fff;
                background: $vermelho-claro;
                padding: 3px 10px;
                margin-bottom: 10px;

                @media(max-width: 767px){
                  display: inline-block;
                  color: #fff;
                  background: $vermelho-claro;
                  padding: 3px 10px;
                  margin-bottom: 10px;
                }
            }

            .titulo{
              @media(max-width: 767px){
                width: 100%;
              }
                 a{
                   @media(max-width: 767px){
                      font-size: 18px;
                      line-height: 26px;
                      font-weight: 900;
                      color: $preto;
                      font-family: 'PT Sans', sans-serif;
                  }
                }
            }
        }

        .destaque-1{
            padding: 0;

            .titulo a{
                font-size: 38px;
                line-height: 46px;
                color: #fff;
                font-weight: 900;
                font-family: 'PT Sans', sans-serif;
            }
            .chamada{
                position: absolute;
                bottom: 45px;
                left: 0;
                padding: 0 50px;
                font-weight: 600;
                z-index: 100;
            }
        }

        .destaque-3,
        .destaque-4{
            padding: 0 0 0 10px;
            margin-bottom: 20px;

            .titulo a{
                font-size: 21px;
                line-height: 24px;
                color: #fff;
                font-weight: 900;
                font-family: 'PT Sans', sans-serif;
            }
            .chamada{
                position: absolute;
                bottom: 30px;
                left: 0;
                padding: 0 30px;
                font-weight: 600;
                z-index: 100;
            }
        }

        .view-content{
            position: relative;
            overflow: hidden;

            .gradient {
                display: block;
                position: absolute;
                top: 0;
                z-index: 50;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top right, rgba(0,0,0,1), rgba(0,0,0,0));
            }

            img{transition: all .2s;}

            &:hover img{
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

    /* MAIS NOTICIAS */
    .mais-noticias{
      @media(max-width: 767px){
          display: none;
      }
        .titulo a{
            color: #000;
            font-size: 14px;
            margin: 0 0 15px 0;
            font-weight: 600;
            font-weight: 900;
            font-family: 'PT Sans', sans-serif;
        }

        .view-mais-noticias-18{
            float: left;
            margin: 45px 0;

            @media(max-width: 767px){
              text-align: center;
              margin-bottom: 25px;
            }

            .views-row{
              float: left;
              width: 100%;
              margin-bottom: 25px;
              @media(max-width: 767px){
                margin-bottom: 25px;
              }
            }

            .views-field-field-imagem{
                margin-bottom: 10px;
                overflow: hidden;
                float: left;
                margin-right: 2%;
                max-width: 48%;

                @media(max-width: 767px){
                  margin-bottom: 10px;
                  overflow: hidden;
                }

                img{
                  transition: all .2s;

                }

                &:hover img{
                    -moz-transform: scale(1.1);
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
            .views-field-field-assunto{
                float: left;
                width: 50%;


                @media(max-width: 767px){
                  margin: -25px 0 10px 0;
                }
                a{
                    display: inline-block;
                    color: #fff;
                    background: $vermelho-claro;
                    padding: 3px 10px;
                    margin-bottom: 10px;


                    @media(max-width: 767px){
                      display: inline-block;
                      color: #fff;
                      background: $vermelho-claro;
                      padding: 3px 10px;
                    }
                }
            }

            .views-field-title a{
                font-size: 28px;
                color: $preto;
                font-family: 'PT Sans', sans-serif;
                font-weight: 900;
                float: left;
                width: 50%;
                line-height: 32px;
                display: block;

                @media(max-width: 767px){
                  font-size: 18px;
                  line-height: 26px;
                  font-weight: 900;
                  color: $preto;
                  font-family: 'PT Sans', sans-serif;
                }
            }
            .views-field-field-chamada{
                color: $cinza-medio;
                font-size: 16px;
                float: left;
                width: 50%;

                @media(max-width: 767px){
                  display: none;
                }
            }
        }
    }

    .soundcloud{
      margin: 45px 0;
    }


}


/*--- TODAS AS NOTICIAS, NOTICIAS POR CATEGORIA -----------------------------------------------------*/

.page-noticias,
.page-taxonomy{
    #principal h1{
        text-align: center;
        margin-bottom: 50px;
    }
    .view-noticias-todas,
    .view-noticias-categoria{

        @media(max-width: 767px){
          text-align: center;
        }
        .views-row{
            min-height: 250px;

            @media(max-width: 767px){
              margin-bottom: 25px;
            }

            .views-field-field-imagem{
                overflow: hidden;
                @media(max-width: 767px){
                  margin-bottom: 10px;
                  overflow: hidden;
                }
                img{transition: all .3s;}
                &:hover img{
                    -moz-transform: scale(1.2);
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }
            .views-field-field-assunto {
              @media(max-width: 767px){
                margin: -25px 0 10px 0;
              }
              a{
                  display: inline-block;
                  color: #fff;
                  background: $vermelho-claro;
                  padding: 3px 10px;
                  margin: 5px 0;

                  @media(max-width: 767px){
                    display: inline-block;
                    color: #fff;
                    background: $vermelho-claro;
                    padding: 3px 10px;
                  }
              }
            }

            .views-field-title a{
                font-size: 18px;
                line-height: 18px;
                color: $preto;
                font-family: 'PT Sans', sans-serif;
                font-weight: 900;

                @media(max-width: 767px){
                  font-size: 18px;
                  line-height: 26px;
                  color: $preto;
                  font-weight: 900;
                  font-family: 'PT Sans', sans-serif;
                }
            }
        }
    }
}


/*--- PAGINA DE UMA NOTICIA ----------------------------------------------------------------------------*/

.node-type-page,
.node-type-story{

    header{
      margin-bottom: 25px;

      @media(max-width: 767px){
        margin-bottom: 50px;
      }
    }

    .banner{
        float: left;
        width: 100%;
        margin: 60px 0 20px 0;
        text-align: center;

        .container{
            max-width: 100%;
            width: 100%;
            padding: 0;
        }

         img{max-width: 100% !important;}
    }


    #principal{
        position: relative;

        @media(max-width: 767px){
          padding: 0 5%;
          overflow-x: hidden;
        }

        .nav-tabs{
            width: 100%;
            max-width: 1210px;
            margin: 0 auto 25px auto;
        }

        h1{
          @media(max-width: 767px){
            font-size: 42px;
          }
        }

        img{
          height: auto !important;

          @media(max-width: 767px){
            max-width: 100%;
          }
        }

        a{
            color: $vermelho-claro;
        }

        .container{max-width: 1210px;}

        .pane-rrssb-rrssb{
            float: left;
            a:hover{text-decoration: none;}
        }

        .rrssb {
          width: 100%;
          padding-right: 0 !important;
          margin-bottom: 0 !important;
          a{
            font-size: 14px !important;
              @media(max-width: 767px){
                font-size: 11px !important;
              }
          }
        }


        .panel-col-top{
            width: 100%;
            max-width: 1210px;
            margin: auto;

            .inside{
                float: left;
                width: 100%;
            }

            .view-topo-noticia{
                margin-bottom: 40px;
                .link-user{display: none;}
            }

            article{
              @media(max-width: 767px){
                padding-top: 50px;
              }
                header{
                  @media(max-width: 767px){
                    display: none;
                  }
                }
            }

            .info-usuario{
                padding: 10px 0;
                border-top: 1px solid #d2d2d2;
                border-bottom: 1px solid #d2d2d2;
                float: left;
                width: 100%;
                margin-bottom: 20px;

                p{margin-bottom: 0;}

                img{max-width: 45px;}
            }

            .views-field-field-assunto a{
                display: inline-block;
                color: #fff;
                background: $vermelho-claro;
                padding: 5px 15px;
                text-transform: uppercase;

                @media(max-width: 767px){
                  display: inline-block;
                  color: #fff;
                  background: $vermelho-claro;
                  padding: 5px 15px;
                  text-transform: uppercase;
                }
            }
            .views-field-field-chamada{
                font-size: 24px;
                color: #999;
                margin-bottom: 10px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-style: italic;
                letter-spacing: -1px;

                @media(max-width: 767px){
                  font-size: 20px;
                  color: #999;
                  margin: 20px 0;
                  font-family: Georgia, 'Times New Roman', Times, serif;
                  font-style: italic;
                  letter-spacing: -1px;
                }
            }

            .views-field-nothing .col-sm-11{
                padding: 7px 0 0 0;
                font-size: 15px;
                color: #525252;

                a{
                    color: $vermelho-claro;
                    background: transparent;
                    text-decoration: none;
                }
            }

            .social{
                width: 100%;

                .facebook,
                .twitter{float: left;}

                .facebook{
                  @media(max-width: 767px){
                    overflow: hidden;
                  }
                }

                .twitter{margin-right: 15px;}
            }
        }

        .center-wrapper{
            margin: auto;
            width: 100%;
            max-width: 1210px;

            .panel-col-first{
                float: left;
                width: 70%;

                @media(max-width: 767px){
                  width: 100%;
                }

                @media(max-width:767px){
                    width: 100% !important;
                }
            }

            .panel-col-last{
                float: right;
                width: 30%;

                @media(max-width:767px){
                    display: none !important;
                }

                img{
                    max-width: 100%;
                    float: right;
                }
                .soundcloud{
                  margin-top: 25px;
                  float: right;
                }
            }


            .view-corpo-noticia{
                float: left;
                width: 100%;
                margin: 0 0 20px 0;
                float: left;
            }

            .facebook-final-noticia{
                float: left;
                width: 100%;
            }

            .pane-custom.pane-1{
                float: left;
                width: 100%;
                margin-top: 50px;
            }


            #comentarios{
                float: left;
                width: 100%;

                .container{max-width: 1000px;}

                .banner{
                  @media(max-width: 767px){
                    margin-bottom: 25px;
                  }
                }
            }
        }

        article > footer,
        #comments{display: none !important;}

    }

    #placement-bottom{
      @media(max-width: 767px){
        display: none !important;
      }
    }

    .destaques{margin-top: 100px;}
    #disqus_thread a{color: $vermelho-claro;}
}


/*--- RESULTADO DA BUSCA ------------------------------------------------------------------------------*/

.page-busca{
    #principal{
        h1{
            text-align: center;
            margin-bottom: 50px;
        }
        .container{max-width: 900px;}

        .views-row{
            padding: 20px 0;
            margin-bottom: 20px;
            border-bottom: 2px solid #f5f5f5;
        }

        .views-row:last-child{border-bottom: none;}

        .views-field-type{font-weight: bold;}

        .views-field-title a{
            font-size: 18px;
            font-family: 'PT Sans', sans-serif;
            font-weight: 900;
            color: $vermelho-claro
        }
    }
}

/*--- CATEGORIAS / ASSUNTOS ----------------------------------------------------------------------------*/

.categorias{
    #principal{
        h1{
            text-align: center;
            margin-bottom: 50px;
        }

        .views-field-title{margin: 15px 0;}
    }
}


/*--- ARTISTAS ------------------------------------------*/
.page-artistas{

  header{
    #menu-artistas{display: block;}
    #block-menu-menu-noticias{display: none;}
  }

	#principal{

		h1{
      margin: 50px 0 75px 0;
      text-align: center;
    }

    .view-artistas{
      .views-row{
        position: relative !important;
        margin-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;

        .views-field-field-foto{
          overflow: hidden;
          background: #000;
          img{
            transition: .4s all;
            opacity: .75;
          }
        }
        .views-field-title a{
            display: block;
            position: absolute;
            top: 40%;
            width: 96%;
            color: #fff;
            text-align: center;
            font-size: 28px;
            font-weight: 700;
            transition: all .3s;

            &:hover{
              text-decoration: none;
            }
        }

        /* efeito on hover */
        &:hover{
          img{
              -moz-transform: scale(1.5);
              -webkit-transform: scale(1.5);
              transform: scale(1.5);
              opacity: .2;
          }
          .views-field-title a{
            -moz-transform: scale(1.75);
            -webkit-transform: scale(1.75);
            transform: scale(1.75);
          }
        }
      }
    }
	}
  .extras1, .extras2, .extras3{display: none;}

  footer{
    padding-top: 100px;
    margin-top: 100px;
  }

}

/*--- PAGINA DE UM ARTISTA ----------------------------*/
.node-type-artista{
  header{
    #menu-artistas{display: block;}
    #block-menu-menu-noticias{display: none;}
  }
	#principal{
      margin-top: 50px;

      h1.page-header{display: none;}

      .panel-col-first{
        width: 48%;
        padding-right: 2%;
      }

      .panel-col-last{
        width: 48%;
        padding-left: 2%;

        h1{margin: 0;}

        .view-artista-contatos{
          width: 100%;
          float: left;
          margin: 20px 0;

          .views-row{
            a{
              display: inline-block;
              padding: 7px 20px;
              float: left;
              margin-right: 5px;
              border: 1px solid #ccc;
              font-size: 16px;
              transition: all .3s;

              &:hover{
                background: $preto;
                color: #fff;
                border: 1px solid $preto;
                text-decoration: none;
              }
            }
          }
        }
        .pane-node-body{
          float: left;
          width: 100%;
        }
        .pane-custom.pane-1{
          float: left;
          width: 100%;
          a{
            display: block;
            padding: 15px 20px;
            background: $vermelho-claro;
            color: #fff;
            font-weight: 700;
            float: left;
            transition: all .3s;

            i{
              font-size: 21px;
              margin-right: 5px;
            }

            &:hover{
              text-decoration: none;
              background: $preto;
            }
          }
        }
      }
  }

  .extras1, .extras2, .extras3{display: none;}

  footer{
    padding-top: 100px;
    margin-top: 100px;
  }
}

/*--- CONTATO ------------------------------------------------------------------------------------------*/

.page-node-8675{

  #principal{

    header, footer{display: none;}

    h1.page-header{
      text-align: center;
    }

    #bootstrap-panel{
      float: left;
      width: 50%;
      border: none;
      padding: 25px;
      border-radius: 0;
      background: #f5f5f5;

      #bootstrap-panel-body{
          padding: 0;
      }
    }
    .webform-component-textarea{
      float: right;
      width: 50%;
      padding: 25px;
      background: #f5f5f5;

      .form-textarea{
        height: 156px;
      }
    }
    .form-actions{
      text-align: center;
    }

  }

}

/*--- ENVIE UMA NOTICIA --------------------------------------------------------------------------------*/

.page-node-8677{
  #principal{
    margin-top: 100px;

    h1.page-header, header, footer{display: none;}
    .container{
      max-width: 780px;
    }
  }
}

/*--- PAGINA DO USUARIO -------------------------------------------------------------------------------*/
.page-user{
  #principal{
    .view-usuario-info{
        .views-field-field-facebook a,
        .views-field-field-instagram a,
        .views-field-field-twitter a{
            padding: 15px;
            color: #fff;
            width: 100%;
            margin: 10px 0;
            display: block;
            font-weight: bold;
            text-align: center;

            i{font-size: 18px;}
        }
        .views-field-field-facebook a{ background: #3b5998; }
        .views-field-field-instagram a{ background: #517fa4; }
        .views-field-field-twitter a{ background: #00aced; }
    }
    .view-usuario-posts {
        .views-row{
            float: left;
            width: 100%;
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #d2d2d2;

           .assunto{
             background: $vermelho-claro;
             padding: 3px 10px;
             margin-bottom: 5px;
             width: auto;
             float: left;
             margin-bottom: 20px;
             -webkit-transform: skew(-25deg);
             -moz-transform: skew(-25deg);
             -o-transform: skew(-25deg);

             &:hover{
               background: $preto;
             }
             a{
                  display: inline-block;
                  color: #fff;
                  -webkit-transform: skew(25deg);
                  -moz-transform: skew(25deg);
                  -o-transform: skew(25deg);

                  &:hover{text-decoration: none;}
              }
           }

            .titulo{
              float: left;
              width: 100%;

              a{
                 font-size: 21px;
                 line-height: 21px;
                 color: $preto;
                 font-family: 'PT Sans', sans-serif;
                 font-weight: 900;
             }
            }
            .chamada{
              width: 100%;
              float: left;
              color: $cinza-medio;
              font-size: 16px;
            }
        }
    }
  }
}


/*--- CONFIRMACAO NEWSLETTER --------------------------------------------------------------------------------------------*/

.page-node-done{
  .section.extras,
  #principal h1.page-header,
  #principal .links{
    display: none;
  }
}

/*--- LOGIN --------------------------------------------------------------------------------------------*/

.page-user{

        form#user-login{
            max-width: 500px;
            margin: auto;
        }

}

/*--- CONFIRMAÇÃO DE CADASTRO ---------------------------------------------------------------------------*/

.page-newsletter-confirm{
    padding-top: 150px;
    header,
    footer{display: none;}
}


.page-node-8627{
    .newsletter{display: none;}
}

/*--- RODAPE ---------------------------------------------------------------------------------------------------*/

.extras1{
    float: left;
    width: 100%;
    margin-top: 100px;

    @media(max-width: 767px){
      overflow-x: hidden;
    }

    #block-views-mais-noticias-3-block-1{
        //background: #f5f5f5;
        background: $preto-bg;
        padding: 50px 0;
        margin: 50px 0 0 0;

        color: #fff;

        a{
          color: #fff;
        }

        @media(max-width: 767px){
          padding: 25px;
        }

        .view-mais-noticias-3{
            width: 100%;
            max-width: 1000px;
            margin: auto;
        }

        .row{
            margin-bottom: 45px;

            .assunto a{
                display: inline-block;
                color: #fff;
                background: $vermelho-claro;
                padding: 3px 10px;
                margin-bottom: 10px;
            }

            .titulo a{
                font-size: 21px;
                color: #fff;
                font-family: 'PT Sans', sans-serif;
                font-weight: 900;
            }
            .chamada{
                color: #fff;
                font-size: 16px;
            }
        }
    }

    #block-block-7{
        text-align: center;
    }
}

.extras2{
  float: left;
  width: 100%;
  padding: 100px 0;
  background: #f5545e;
  color: #fff;

  .container{
    max-width: 1080px;
  }

  h2{color: #fff;}

  #block-webform-client-block-8676{
    h2{
      width: 380px;
      float: left;
      padding: 23px 10px 21px 80px;
      font-size: 24px;
      margin: 0;
      background: #b53e46 url(../img/email-icon.png) 5% center no-repeat;
    }
    .node-webform{
      width: calc(100% - 380px);
      float: left;
    }
    header, label{
      display: none;
    }
    form > div{
      float: left;
      width: 100%;
      position: relative;
    }
    .webform-component-email{
      width: calc(100% - 200px);
      position: absolute;
      left: 0;
      top: 0;

      input{
        color: #fff;
        background: #b53e46;
        border: none;
        padding: 37px 0 33px 0;
        font-size: 20px;
        font-style: italic;

        &::-webkit-input-placeholder{color: #dca4a8; font-style: italic;}
        &::-moz-placeholder{color: #dca4a8; font-style: italic;}
        &::-ms-input-placeholder{color: #dca4a8; font-style: italic;}
      }
    }
    .form-actions{
      width: 200px;
      float: left;
      position: absolute;
      right: 0;
      top: 0;

      button{
        color: #b53e46;
        text-transform: uppercase;
        font-weight: 700;
        background: #fff;
        font-size: 20px;
        padding: 23px 45px 15px 45px;

        &:hover{
          background: $preto;
          color: #fff;
        }
      }
    }
  }
}

.extras3{
  float: left;
  width: 100%;
  padding: 50px 0 100px 0;
  background: $preto-bg;

  h2{
      text-align: center;
      color: #fff;
      margin-bottom: 50px;
  }

  .view-proximos-festivais{
    float: left;
    width: 100%;

    h2{
        text-align: center;
        margin-bottom: 25px;
    }
    .views-row{margin-bottom: 25px;}
    .info-festival{
        background: #fff;

        .info{
          padding: 7px 15px 15px 15px;
          background: #fff;
          h5{
              a{color: $vermelho-claro;}
          }
        }
    }
  }
}

footer{
    background: $preto-bg;
    float: left;
    width: 100%;
    padding: 0 0 50px 0;
    color: #fff;
    font-size: 18px;

    @media(max-width: 767px){
      background: $preto;
      float: left;
      width: 100%;
      margin-top: 40px;
      padding: 0 0 50px 0;
      color: #fff;
      text-align: center;
    }

    .col-sm-3{
      border-top: 1px solid #fff;
      padding-top: 25px;
      text-align: right;

      &.cogumelo{border-top: none;}
    }

    p{color: #fff;}

    a{
        color: #fff;
        font-weight: 300;
        &:hover{
            color: $vermelho-claro;
            text-decoration: none;
        }
    }

    .redes-sociais{
      font-size: 24px;
      a{
        display: inline-block;
        margin-left: 10px;
      }
    }

    ul{
        list-style-type: none;

        li{margin-bottom: 7px;}
    }

    .cogumelo{min-height: 240px;}

    .conteudo-rodape{
        .container{
            background: transparent url(../img/cogumelo_psicodelia.png) left top no-repeat;
        }
        ul,
        .fb-page{
          @media(max-width: 767px){
            display: none;
          }
        }
    }

    .termos{
        border-top: 1px solid #666;
        padding-top: 25px;


        p{
           font-size: 11px;
            color: #666;
        }
    }
}
